.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  margin-top: 0;
  margin-right: 0;
}

.mat-card {
  width: 33%;
}
.author-card {
  display: inline-flex;
  /* display: flex; */
  flex-direction: column;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  margin-left: 20px;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.new-author {
  text-align: center;
  margin-top: 30px;
}

.card-group {
  width: 100%
}
