<!-- <mat-table [dataSource]="dataSource">
  </mat-table> -->
<mat-grid-list cols="5" rowHeight="100" *ngIf="authors" gutterSize="20">
  <mat-grid-tile color="primary" [colspan]="5" [rowspan]="1">
    Authors
  </mat-grid-tile>
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
  <mat-grid-tile [colspan]="1" [rowspan]="10">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="10">
    <mat-card class="author-card" *ngFor="let author of this.authors">
      <mat-card-header>
        <div mat-card-avatar class="author-header-image">
          <mat-icon color="primary">photo_camera</mat-icon>
        </div>
        <mat-card-title>{{ author.name }}</mat-card-title>
        <mat-card-subtitle>{{ author.origin }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ author.name }} is a ... comments</p>
      </mat-card-content>
      <mat-card-actions align="end">

        <mat-icon color="primary" [routerLink]="['/authors', author.id, 'show']">visibility</mat-icon>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    ></mat-paginator>
  <mat-grid-tile [colspan]="1" [rowspan]="10">

  </mat-grid-tile>

  <mat-grid-tile [colspan]="5" [rowspan]="1">
    <button color="primary" mat-raised-button [routerLink]="['new/edit']">Add New Author</button>
  </mat-grid-tile>
</mat-grid-list>

