<div class="container">

  <!-- <mat-grid-list cols="2" rowHeight="2:1"> -->
    <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
    <div class="row card-group" *ngIf="authors">
      <div *ngFor="let author of this.authors">
        <mat-card class="author-card">
          <mat-card-header>
            <div mat-card-avatar class="author-header-image">
              <mat-icon color="primary">photo_camera</mat-icon>
            </div>
            <mat-card-title>{{ author.name }}</mat-card-title>
            <mat-card-subtitle>{{ author.origin }}</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <p>{{ author.name }} is a ... comments</p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
            <mat-icon color="primary" [routerLink]="['/authors', author.id, 'show']">visibility</mat-icon>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
    <div class="new-author">
      <button  color="primary" mat-raised-button [routerLink]="['new/edit']">Add New Author</button>
    </div>
  <!-- </mat-grid-list> -->

</div>






<!-- 
<div class="container-fluid" *ngIf="authors">
  <div class="row card-group">
    <div class="col-4" *ngFor="let author of this.authors">
      <div class="card">
        <div class="card-body">
          <h6 class="card-info">{{ author.name }}</h6>
          <h6 class="card-info text-muted">{{ author.origin }}</h6>
          <p class="card-text">comments...</p>
        </div>
        <div class="card-footer">
          <mat-icon color="primary" [routerLink]="['/authors', author.id, 'show']">visibility</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button color="primary" mat-raised-button [routerLink]="['new/edit']">Add New Author</button>
  </div>
</div> -->