<!-- nav -->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser"> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Login</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a> 
      <a class="nav-item nav-link" routerLink="/register">Registration</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <h2>Black 4 Media</h2>
</div>



