<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <form class="author-form" [formGroup]="authorForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="author-full-width" floatLabel="auto" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="author-full-width" floatLabel="auto" appearance="outline">
        <mat-label>Origin</mat-label>
        <input matInput type="text" formControlName="origin" required>
      </mat-form-field>

      <button mat-flat-button align="end" type="submit" [disabled]="!authorForm.valid">Submit</button>
      <button mat-flat-button [routerLink]="['/authors', author.id, 'show']">Cancel</button>
      <button color="warn" mat-raised-button (click)="deleteAuthor()" *ngIf="author">Delete Author</button>
    </form>
    <!-- <div *ngIf="!author">
      <p class="text-light">Edit New author</p>
    </div> -->
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Tile 2</p>
  </mat-grid-tile>

</mat-grid-list>