<form class="author-form" [formGroup]="authorForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="author-full-width">
    <div>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name">
    </div>
  </mat-form-field>
  <mat-form-field class="author-full-width">
    <div>
      <mat-label>Origin</mat-label>
      <input matInput type="text" formControlName="origin" placeholder="Origin">
    </div>
  </mat-form-field>
  <!-- <div formGroupName="records">
      <h5>Records</h5>
      <div>
        <label>
          Title:
          <input type="text" formControlName="title">
        </label>
      </div>
      <div>
        <label>
          Date:
          <input type="text" formControlName="date">
        </label>
      </div>
    </div> -->

  <!-- <button class="btn btn-primary" type="submit" [disabled]="!authorForm.valid">Submit</button>
    <button class="btn btn-danger" (click)="deleteAuthor()">Delete Author</button> -->
  <div>
    <button mat-flat-button type="submit" [disabled]="!authorForm.valid">Submit</button>
  </div>
  <div>
    <button color="warn" mat-raised-button (click)="deleteAuthor()">Delete Author</button>
  </div>
</form>
<div *ngIf="!author">
  <p class="text-light">Edit New author</p>
</div>