/* body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */

  mat-card{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display:flex;
    flex-direction: column;
  }
  
  mat-card-header {
    flex-shrink: 0;
  }
  
  mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }